@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
.round {
  border-radius: 0.25rem;
  transition: 0.3s ease-in-out;
}
.round:hover {
  path {
    stroke: #86e8fb;
    transition: 0.3s ease-in-out;
  }
}

.round-fill:hover {
  path {
    fill: #86e8fb;
    transition: 0.3s ease-in-out;
  }
}
